<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Start</a>
                </li>

                <!-- Produkty -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Produkty
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/products', 'add']">Dodaj produkt</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/products', 'database']">Baza produktów</a></li>
                    </ul>
                </li>

         

                <!-- Wypisy -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Wypisy
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/prescription', 'add']">Dodaj wypis</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/prescription', 'database']">Baza wypisów</a></li>
                    </ul>
                </li>

                <!-- Procesy -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Procesy
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/processes', 'add']">Dodaj proces</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/processes', 'database']">Baza procesów</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/processcategory', 'database']">Kategorie processu</a></li>
                    </ul>
                </li>
                <!-- Narzędzia -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Narzędzia
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/tools', 'add']">Dodaj Narzędzie</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/tools', 'database']">Baza Narzędzi</a></li>
                    </ul>
                </li>
                    <!-- Materials -->
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Materiały
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/materials', 'add']">Dodaj materiał</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/materials', 'database']">Baza materiałów</a></li>
                    </ul>
                </li>
                <!-- LOCATION -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lokalizacje
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/location', 'add']">Dodaj Lokalizację</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/location', 'database']">Baza Lokalizacji</a></li>
                    </ul>
                </li>

                 <!-- MACHINE PROGRAM -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Program
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/program', 'add']">Dodaj Lokalizację</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/program', 'database']">Baza Lokalizacji</a></li>
                    </ul>
                </li>



            </ul>
            <div>
                <button class="btn btn-danger" (click)="onSignInOut()">{{isLogin ? 'Wyloguj' :
                    'Zaloguj'}}</button>
            </div>
        </div>
    </div>
</nav>