<h3>Baza Programów</h3>

<div>
    <button class="btn btn-outline-success" (click)="onAddNew()">Dodaj</button>
</div>
<div>

    
</div>
<div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Nr.Programu</th>
            <th scope="col">Maszyna</th>
            <th scope="col">Opis</th>
            <th scope="col">Dla Ilosci</th>
            <th scope="col"></th>
            



        </tr>
    </thead>
        <tbody>
                <tr *ngFor="let program of programList">
                    <th scope="row">{{program.id}}</th>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{program.nrProgram}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{program.nameMachine}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{program.description}}</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{program.qtyForProgram}}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-dark" (click)="onEdit(program.id)">Zmień</button>
                            <button class="btn btn-outline-danger" (click)="onDelete(program.id)">X</button>
                        </div>
                    </td>



                </tr>
        </tbody>
        
    </table>


</div>
